.alert {
  position: absolute;
  right: 0;
  top: 2.4rem;
  padding: 0.4rem 0.5rem 0.5rem !important;
}

.alert > div {
  display: flex !important;
  align-items: center;
}

.alert span {
  cursor: pointer;
  padding: 0.5rem 0;
  padding-right: 0.4rem;
}

.animationDesapear {
  animation: animationOut 7s ease-in 0s 1 normal both;
}

@keyframes animationOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
